.opo {
  display: grid;
  grid-template-columns: 1em 1em 1em;
  grid-template-rows: 1em;
}

.opo .opo-cell {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 1em;
  width: 1em;
}

.opo .opo-cell.opo-cell-on {
  background-color: black;
  border-color: rgba(255, 255, 255, 0.2);
}

.opo.opo-large {
  font-size: 1.5em;
}

.opo.opo-mini {
  font-size: 0.5em;
}
