.App {
  text-align: left;
  margin: 1em;
}

#simple-output {
  display: flex;
  flex-flow: column nowrap;
}

#simple-output section {
  display: flex;
  flex-flow: row wrap;
}

#simple-output .opo {
  margin: 0.5em;
}

#simple-output .opo-genus {
  margin: 0.75em;
  flex: 0 0 auto;
}
